loki:
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  ingester:
    chunk_encoding: snappy
  querier:
    # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
    max_concurrent: 4
  pattern_ingester:
    enabled: true
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
    max_query_lookback: 672h # 28 days
    retention_period: 672h # 28 days
  compactor:
    working_directory: /var/loki/data/compactor
    compaction_interval: 10m
    retention_enabled: true
    retention_delete_delay: 1m # Reduced to 1 minute for faster testing
    # retention_delete_delay: 2h # Uncomment for production use
    retention_delete_worker_count: 150
    delete_request_store: s3
  storage:
    type: s3
    bucketNames:
      chunks: loki
      ruler: loki
      admin: loki
    s3:
      # s3 URL can be used to specify the endpoint, access key, secret key, and bucket name this works well for S3 compatible storages or if you are hosting Loki on-premises and want to use S3 as the storage backend. Either use the s3 URL or the individual fields below (AWS endpoint, region, secret).
      s3: s3://${LOKI_S3_ACCESS_KEY_ID}:${LOKI_S3_SECRET_ACCESS_KEY}@rook-ceph-rgw-ceph-objectstore.rook-ceph.svc.cluster.local/loki
      # Forces the path style for S3 (true/false)
      s3ForcePathStyle: true
      # Allows insecure (HTTP) connections (true/false)
      insecure: true
      # HTTP configuration settings
      http_config:
        insecure_skip_verify: true

deploymentMode: SimpleScalable

# Unsure if this is required. Table manager is depricated but the objects were cleared only after adding this.
# Could be because of the delay in the compactor.
tableManager:
  retention_deletes_enabled: true
  retention_period: 672h # 28 days

backend:
  replicas: 3
  persistence:
    storageClass: local-path
    enableStatefulSetAutoDeletePVC: true
read:
  replicas: 3
  persistence:
    storageClass: local-path
    enableStatefulSetAutoDeletePVC: true
write:
  replicas: 3 # To ensure data durability with replication
  persistence:
    storageClass: local-path
    enableStatefulSetAutoDeletePVC: true

chunksCache:
  allocatedMemory: 512

resultsCache:
    allocatedMemory: 256

# Enable minio for storage
minio:
  enabled: false