---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mssql-deployment
  namespace: mssql
spec:
  selector:
    matchLabels:
      app: mssql-deployment
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mssql-deployment
    spec:
      securityContext:
        fsGroup: 10001
      containers:
        - name: mssql
          image: mcr.microsoft.com/mssql/server:2022-latest
          ports:
            - containerPort: 1433
              name: tcpsql
          volumeMounts:
            - name: mssql-data
              mountPath: "/var/opt/mssql"
          env:
            - name: ACCEPT_EULA
              value: "Y"
            - name: MSSQL_PID
              value: "Express"
            - name: MSSQL_SA_PASSWORD
              value: "${MSSQL_SA_PASSWORD}"
          resources:
            requests:
              cpu: 1000m
              memory: 2Gi
            limits:
              cpu: 3000m
              memory: 3Gi
      volumes:
        - name: mssql-data
          persistentVolumeClaim:
            claimName: mssql-data
---
apiVersion: v1
kind: Service
metadata:
  name: mssql-service
  namespace: mssql
spec:
  ports:
    - port: 1433
      targetPort: 1433
      protocol: TCP
  selector:
    app: mssql-deployment
