apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      web:
        forwardedHeaders:
          trustedIPs:
            - 10.0.0.0/8
        proxyProtocol:
          trustedIPs:
            - 10.0.0.0/8
      websecure:
        forwardedHeaders:
          trustedIPs:
            - 10.0.0.0/8
        proxyProtocol:
          trustedIPs:
            - 10.0.0.0/8
    service:
      spec:
        externalTrafficPolicy: Local